// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

$header-height: 55px;
$footer-height: 145px;

// Colors
$input-focus-background-color: #EFEFE3;
$input-background-color: #F2F2F2;
$input-border-color: #ccc;
$input-foreground-color: #000;

$highlight-color: #7C8E46;
$error-color: #D00;

$header-background-color: #333333;
$footer-background-color: #333333;
$body-background-color: #CCCCCC;
$flash-background-color: #F2F2F2;
$breadcrumbs-background: #ffffff;
$breadcrumbs-foreground: #000;
$top-background: #ffffff;
$top-foreground: #000;
$navigation-background: #ffffff;
$navigation-foreground: #000;


$header-titles-color: #fff;
$footer-titles-color: #fff;


// Fonts
$blueprint-font-family: Arial, Helvetica, sans-serif;
$blueprint-font-size: 12px;

// Forms
$label-width: 120px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// Mixins
@mixin radius($radius: 5px) {
	border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;	
}

@mixin menus() {
	height: $footer-height - 10px;
	background-color: lighten($footer-background-color, 10%);
	@include radius(10px);
	font-size: 11px;

	ul {
		padding-top: 10px;
		list-style-type: none;
	}

	a {
		color:#fff;
    text-decoration: none;
		display: block;
		padding: 3px 10px;
		border-bottom: dotted 1px lighten($footer-background-color, 10%);

		&:hover {
			color: $highlight-color;
		}
	}

}

@mixin font-titles {
	font-family: 'Arial Black', Gadget, sans-serif;
}

