@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/typography";

//@import "compass/reset.scss";
@import "compass/layout.scss";


body, html {
	height: 100%;	
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
	@include sticky-footer($footer-height, "#layout", "#layout_footer", "#footer");

	height: 100%;
	background-color: $body-background-color;
	background-image: url('/images/body-bg.png');
	
	.wrapper {
		height: 100%;
		min-height: 100%;

		#top {
			background-color: $top-background;
			
			#container {
				@include container;
				color: $top-foreground;	
				font-size: 12px;

				#left {
					@include column(13);

					#user {
						border-left: solid 1px $input-background-color;
						border-right: solid 1px $input-background-color;
						border-bottom: solid 1px $input-background-color;
				    background-color: lighten($body-background-color, 15%);

						-webkit-border-bottom-right-radius: 10px;
						-webkit-border-bottom-left-radius: 10px;
						-moz-border-radius-bottomright: 10px;
						-moz-border-radius-bottomleft: 10px;
						border-bottom-right-radius: 10px;
						border-bottom-left-radius: 10px;
						
						padding-top: 5px;
						padding-bottom: 5px;
						padding-left: 10px;
						height: 25px;
						font-weight:bold;

						
						#user-gravatar,
						#user-display-name,
						#user-email,
						#user-inbox
						{
							float: left;
							padding-left: 5px;
							padding-right: 5px;
							
							a {
								color: #fff;
								font-weight:bold;
								text-decoration:none;
								padding: 2px;
								margin-left: 5px;
								background-color: lighten($header-background-color, 10%);
								@include radius(2px);


								&:hover {
									color: $highlight-color;
									border: solid 1px $highlight-color;
									background-color: lighten($body-background-color, 15%);
								}

							}
							
						}
						
						#user-gravatar {
							width: 30px;
						}

						#user-display-name, 
						#user-email 
						{
							width: 150px;
							text-align: center;
						}

						#user-inbox
						{
							width: 100px;
							text-align: center;
						}
						
						#separator {
							float: left;
							font-weight:normal;
							color: $input-background-color;
						}
					}
				}
				
				#right {
					@include column(11, true);					
				}
			}
		}
		
		#toolbar {
			background-color: $navigation-background;
			
			#container {
				@include container;
				color: $navigation-foreground;	
				font-size: 11px;
				
				#left {
					@include column(16);

					#menu {

						ul {
							padding:0;
							display:block;
							list-style-type:none;
						}
						

						a {
							-webkit-border-top-right-radius: 5px;
							-webkit-border-top-left-radius: 5px;
							-moz-border-radius-topright: 5px;
							-moz-border-radius-topleft: 5px;
							border-top-right-radius: 5px;
							border-top-left-radius: 5px;
							border-left: solid 1px lighten($header-background-color, 10%);
							border-right: solid 1px lighten($header-background-color, 10%);
							border-top: solid 1px lighten($header-background-color, 10%);

							background-color: lighten($header-background-color, 10%);
							
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 2px;

							padding-top: 2px;
							padding-bottom: 2px;

							padding-left: 5px;
							padding-right: 5px;

							color: #fff;
							font-weight:bold;
							text-decoration:none;
							display:block;
							width: auto;

							float:left;

							&:hover {
								color: $highlight-color;
								background-color: lighten($body-background-color, 15%);
								border-left: solid 1px $highlight-color;
								border-right: solid 1px $highlight-color;
								border-top: solid 1px $highlight-color;
						    
							}

						}
					}				
					
					
				}
				
				#right {
					@include column(8, true);
					
					#search {
						margin: 0px;
						padding: 0px;

						.simple_form {
							
							input[type="text"] {
								display: inline;
								margin-bottom: 7px;
								margin-left: 0px;
								margin-right: 0px;
								padding-top: 3px;
								padding-bottom: 3px;
								padding-left: 30px;
								padding-right: 30px;
								width: 220px;
								@include radius(10px);
								outline: 0 none;
								background: url("/images/search.gif") no-repeat 0px -3px;
							}
						
							input[type='submit'] {
								display: inline;
								margin-top: -28px;
								height: 21px;
								font-size: 10px;
								@include radius(10px);	
								outline: 0 none;
							}
	
							input[type="text"]:focus {
									background-color: $input-focus-background-color;
									color: $input-foreground-color;
							    border: solid 1px darkten($body-background-color, 15%); 
									@include radius(5px);
									outline: 1px solid $highlight-color;
							}
	
						}
					}
				}
			}
			
		}
		
		#header {
			background-color: $header-background-color;
			background-image: url('/images/header-bg.jpg');
			height: $header-height;
			padding-top: 10px;
			padding-bottom: 10px;

			#container {
				@include container;

				#left {
					@include column(19);
					
					#logo {

						h1 {
							@include font-titles;
							padding-top: 10px;
							color: $header-titles-color;
						}						
					}
				}

				#right {
					@include column(5	, true);

				}

			}
		}

		#breadcrumbs {
			background-color: $breadcrumbs-background; 

			#container {
				@include container;
				font-size: 11px;
				color: $breadcrumbs-foreground;
	
				a {
					color: $highlight-color;
			    text-decoration: none;
					padding-top: 1px;
					padding-bottom: 1px;
					padding-right: 3px;
				}
		  }
	
		}

		#footer {
			background-color: $footer-background-color;
			background-image: url('/images/header-bg.jpg');
			

			#container {
				@include container;
				padding-top: 10px;
				height: $footer-height - 10px;

				h1 {
					@include font-titles;
					font-size: 18px;
					color: $footer-titles-color;
					padding-left: 10px;
				}

				#left {
					@include column(8);			
					#menu {
						@include menus;
					}
				}
				
				#middle {
					@include column(8);					

					#menu {
						@include menus;
					}
				}

				#right {
					@include column(8, true);

					#menu {
						@include menus;
					}					

				}
				
			}
		}
			  
		#main {
			
			#container {
//				@include showgrid;
				@include container;
				padding-left: 10px;
				padding-top: 10px;
				padding-bottom: 20px;
				
				//@include column(18, true);
								
				#flash {
					display: none;
					margin: 15px;
					background-color: $flash-background-color;
					border: solid 1px $highlight-color;
					color: $highlight-color;
					@include radius(10px);

					#flash_notice {
						padding-top: 10px;
						padding-bottom: 10px;
						padding-left: 20px;						
					}

					#flash_alert {
						padding-top: 10px;
						padding-bottom: 10px;
						padding-left: 20px;						
						color: yellow;
					}

				}
				
				#content {
					h1 {
						@include font-titles;
					}

					h2 {
						@include font-titles;
						font-size: 24px;
						margin-bottom: 0px;
					}
					
					
					#tabs {
						#actions {
							margin: -13px;
							padding: 0px;
							display: inline;
							float: right;
						}
					}
					
				}
			}
		} 

	}

}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form input[type="text"], 
.simple_form input[type="password"], 
.simple_form input[type="email"], 
.simple_form textarea {
    margin-bottom: 5px;
    padding: 3px;
    border: solid 1px $input-background-color;
    background-color: lighten($body-background-color, 15%);
		@include radius(5px);
}

.simple_form input[type="text"]:focus,
.simple_form input[type="password"]:focus, 
.simple_form input[type="email"]:focus,
.simple_form textarea:focus {
		background-color: $input-focus-background-color;
		color: $input-foreground-color;
    border: solid 1px darkten($body-background-color, 15%); 
		@include radius(5px);
		outline: 1px solid $highlight-color;
}

.simple_form input[type='submit'] {
	float: right;
}

.simple_form input[type='submit']:focus {
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
	@include font-titles;
  clear: left;
  margin-left: 120px;
  font-size: $blueprint-font-size - 2px;
  color: $highlight-color;
  display: block;
  font-style: italic;
	padding-left: 5px;
}

div.ui-datepicker{
 font-size:	12px;
}

#gravatar-form {
  margin-bottom: 5px;
  padding: 5px;	
	
	img {
		margin-left: 5px;
	}
}