// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "blueprint/typography";


// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

//form.bp {
  //@include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  //@include blueprint-scaffolding; 
//}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
	background-color: #2F2F2F;
  #container {
//	 @include showgrid;
   @include container;
 	}
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    @include column(6); }
  #content {
    @include column(18, true); } }
		.simple_form label {
		  float: left;
		  width: 100px;
		  text-align: right;
		  margin: 2px 10px;
		}

		.simple_form div.input {
		  margin-bottom: 10px;
		}

		.simple_form div.boolean, .simple_form input[type='submit'] {
		  margin-left: 120px;
		}

		.simple_form div.boolean label, .simple_form label.collection_radio {
		  float: none;
		  margin: 0;
		}

		.simple_form label.collection_radio {
		  margin-right: 10px;
		  margin-left: 2px;
		}

		.simple_form .error {
		  clear: left;
		  margin-left: 120px;
		  font-size: 12px;
		  color: #D00;
		  display: block;
		}

		.simple_form .hint {
		  clear: left;
		  margin-left: 120px;
		  font-size: 12px;
		  //color: #555;
		  display: block;
		  font-style: italic;
		}
