%ul
  = link_to(t(:home), root_path)
  = render 'devise/menu/login_items'
  = render 'devise/menu/registration_items'
  - if user_signed_in?
    %li
      = link_to(t(:profile), profile_path(current_user.id))
  
  
